
        body {
            min-height: 100%;
        }
        
        footer {
            background: gray;
        }

/* nav bar here */
        #navcontainer {
            position: fixed;
            z-index: 10;
        }
        #topnavbar {
            background: none;
            /* position: fixed; */
            height: 50px;
        }
/* -------for search field------------------------------------------------------------ */
        #searchcontainer {
            margin-top:6px;
        }        
        #dropdownarea {
            background-color:white ;
            position:absolute; 
            top:90%;
            z-index:100;
            right:0px;
            left:auto;
            box-shadow: 0px 0px 5px rgba(65, 65, 65, 0.644);
        }
/* -------for login modal----------------------------------- */
        #loginform {
            padding: 15px;
        }

/* -------for footer----------------------------------- */

        .fix_bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
/* -----for trailer display--------------------------------------- */

        #contentonvideo {
            position: absolute ;
            width: 100%;
            height: auto;
            bottom: 10%;
            color: #f1f1f1;
            z-index: 0;
            padding-left: 2%;
        }
/* pause button parent element */
        #controlset {
            position: absolute ;
            /* padding-right:2%; */
            width: 100%;
            height: auto;
            top:0;
            right:0;
            /* z-index: 0; */
        }
/* pause button */
        #vbtn {
            position: absolute ;
            margin-top: 3%;
            right: 2%;
            z-index: 0;

        }

        #video {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: auto;
            /* min-width: auto; 
            min-height: 100%; */
            z-index: -10;
        }

        #trailerdiv {
            position: relative;
            height: 100vh;
            z-index: 0;
            top: 0;
        }

        #postercol {
            position: absolute;
            width: 100vw;
            bottom: 3%;
        }

/*------------dropdown list here---------------------------------------- */
        #searchfield {
            height: 50px;
        }
        .dropdown a {
            text-decoration: none;
            color: white;
        }

        .dropdown a:hover {
            text-decoration: none;
            color: white;
        }


/* -------for movie list showing posters------------------------------------------------------------ */

        .posterunit {
            width: 100%;
            height: auto;
            background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
            background-size: cover;
            top: 0;
        }
        .movieUnit {
            margin-top:4% !important;
            width: 23%;
            height: auto;
            margin: 15px;
            display: inline-block;
        }


